/* docs/.vitepress/theme/style.css */
:root {
  --vp-layout-max-width: 1920px !important; /* 全局最大宽度 */

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #52f7bd, #3ca7ff);

  --vp-home-hero-image-background-image: linear-gradient(
    120deg,
    #52f7bd,
    #3ca7ff
  );
  --vp-home-hero-image-filter: blur(40px);

  --vp-c-brand-1: #3ca7ff;
  --vp-c-brand-2: #52f7bd;

  --vp-doc-content-padding-x: 0px;
}

@media (min-width: 1400px) {
  /* 如果有右侧目录栏 (Outline)，可能需要进一步调整或隐藏 */
  .VPDoc .aside {
    display: none; /* 简单粗暴的方法：如果显示了手机，就隐藏右侧目录 */
  }
}

/* 隐藏整个网站的滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 对于 Firefox */
html {
  scrollbar-width: none;
}

/* 对于 IE 和 Edge */
body {
  -ms-overflow-style: none;
}

.VPDoc,
.VPDoc .container,
.VPContent,
.VPContent .content {
  max-width: 100% !important;
  margin: 0 !important;
  padding-left: 0px;
}

.VPDocAsideOutline {
  .content {
    padding-left: 16px !important;
  }
}

.content-container {
  max-width: 88% !important;
  margin-left: 24px !important;
  margin-right: auto !important;
}

/* 让 markdown 表格宽度始终为100% */
.vp-doc table {
  width: 100% !important;
  display: table;
  table-layout: fixed !important;
}

.VPNavBar {
  .wrapper {
    padding: 0;
  }
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  scroll-margin-top: 80px;
}

.aside-curtain {
  display: none;
}
